.Navbar {
  display: block;
  position: relative;
  width: 100%;
  height: 4em;
}

.Major {
  height: fit-content;
}

.Link {
  padding: 1em;
  color: inherit;
  text-decoration: none;
  &:hover {
    background: red;
  }
}
