.ExperienceCard {
  display: inline-block;
  height: fit-content;
  width: 28em;
  max-width: 100%;

  overflow: hidden;
  border-radius: 0.5em;
  background-color: #fff;
  padding: 1em;

  border: 1px solid #aaa;
}

.Image {
  width: 16%;
  height: 100%;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
}

.CompanyName {
  display: block;
  width: 100%;
  font-size: 1.2em;
  font-weight: 700;
}

.Position {
  display: block;
  width: 100%;
  font-size: 1.1em;
  font-weight: 500;
}

.SmallPosition {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: 400;
}

.Timeframe {
  font-size: 0.9em;
  font-weight: 400;
  color: rgba($color: #000000, $alpha: 0.5);
}
