.Hero {
  background: #000;
  color: red;
}

.Major {
  font-weight: 500;
  font-size: 3em;
}

.Minor {
  font-weight: 500;
}

.Button {
  text-decoration: none;
  color: inherit;
}

.Link {
  display: inline-block;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
