.Modal {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;

  .bg {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: -1;
  }

  justify-content: center;
  align-items: center;
}
.Open {
  display: flex;
}
.Closed {
  display: none;
}

.Menu {
  display: block;
  position: relative;
  height: fit-content;
  min-height: calc(4em + 2px);
  width: fit-content;
  min-width: calc(4em + 2px);
  max-width: 100%;
  max-height: 100%;
  background: #fff;
  border-radius: 1em;
  border: 1px solid #aaa;
  overflow: hidden;
  overflow-y: auto;

  animation: 0.5s fadein ease;

  .MenuClose {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 3em;
    padding: 0.5em;
    margin: 0.5em;
    background: rgba($color: #fff, $alpha: 0.8);
    filter: invert(100%);
    border: 1px solid #aaa;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;
    transition: 0.3s filter ease;
    &:hover {
      filter: brightness(0.9);
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    margin-top: 2em;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
