.Modal {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;

  .bg {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: -1;
  }

  justify-content: center;
  align-items: center;
}
.Open {
  display: flex;
}
.Closed {
  display: none;
}

.Menu {
  display: block;
  position: relative;
  height: fit-content;
  min-height: 4em;
  width: fit-content;
  min-width: 4em;
  max-width: 100%;
  max-height: 100%;
  background: #fff;
  border-radius: 0.5em;
  border: 1px solid #aaa;

  .MenuClose {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 3em;
    padding: 0.5em;
    margin: 0.5em;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;
    transition: 0.3s filter ease;
    &:hover {
      filter: brightness(0.9);
    }
  }
}
