@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

.Footer {
  width: 100%;
  height: fit-content;
  border: 2px solid blue;
  font-family: "Outfit", sans-serif;
}

.Wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  border: 1px solid red;
}

.Minor {
    font-size: 1.2em;
    font-weight: 600;
}

.Link {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
