
.Footer {
  width: 100%;
  height: fit-content;
  font-family: "Outfit", sans-serif;
  color: #fff;

  //background gradient
  background: rgb(55, 13, 52);
  background: -moz-linear-gradient(
    148deg,
    rgba(55, 13, 52, 1) 0%,
    rgba(5, 10, 32, 1) 100%
  );
  background: -webkit-linear-gradient(
    148deg,
    rgba(55, 13, 52, 1) 0%,
    rgba(5, 10, 32, 1) 100%
  );
  background: linear-gradient(
    148deg,
    rgba(55, 13, 52, 1) 0%,
    rgba(5, 10, 32, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#370d34",endColorstr="#050a20",GradientType=1);
}

.Wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.Message {
  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2em;
}

.Minor {
  font-size: 1.4em;
  font-weight: 600;
}

.Link {
  a {
    font-size: 1.2em;
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
